body{

font-family:Arial;
margin:0;
height:100vh;

background:linear-gradient(135deg,#ff9a9e,#fad0c4,#fad0c4,#fbc2eb);

display:flex;
justify-content:center;
align-items:center;

}

.container{

background:white;

padding:30px;

border-radius:12px;

box-shadow:0 10px 25px rgba(0,0,0,0.2);

width:350px;

text-align:center;

}

input{

width:90%;

padding:10px;

margin:10px;

border-radius:6px;

border:1px solid #ccc;

}

button{

padding:10px 15px;

background:#ff6b81;

border:none;

color:white;

border-radius:6px;

cursor:pointer;

}

button:hover{

background:#ff4757;

}

.post{

background:#f1f2f6;

padding:15px;

margin-top:15px;

border-radius:8px;

}

.comment{

margin-left:10px;

color:#444;

}